html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
  }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Arimo', sans-serif;
    color: #666666;
    background-color: #93C7D9;
}

#background {
    background-image: url("images/booking-app-cover-image.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-width: 100vw;
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 0;
}

 /* TITLE */
.title-container {
    position: absolute;
    left: 38%;
    top: 70%;
    color: white;
}  

.title {
  margin: 0; 
  font-size: x-large;
}

.tagline {
    font-weight: 700;
    font-size: medium;
}

.arrow-down {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

@keyframes arrowAnimation {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

.bounce {
    animation-name: arrowAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: reverse; 
}

/* CALL-TO-ACTION */
.call-to-action {
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: #444444;
    padding: 5%; 
    padding-left: 20%;
    padding-right: 20%;
    font-weight: bolder;
}

.arrow {
    color: white;
}

.center {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* BOOKING FORM */
.booking-form-container {    
    display: block; 
    background: transparent;
    width: 100%; 
    max-width: 100vw;
    border-radius: 4px;
    font-size: 0.95rem;
    color: #666666;
    margin-top: 0%;
    padding-top: 0%;
}

.booking-form {
    margin: 0 auto; 
    text-align: center;
    max-width: 100vw;
    width: 100%;
}

input {
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    background-color: whitesmoke;
    border: none;
    padding: 0.5rem;
    color: #666666;
    width: 60%; 
}

input:focus {
   color: #666666;
   border-style: inset;
   outline-color: #666666;
}

input:focus-within {
    color: #666666;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("icons/caret-down-solid.svg")
      95% no-repeat; 
    line-height: 1; 
    width: 60%;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    background-color: whitesmoke;
    border: none;
    padding: 0.5rem;
    color: #666666;
    font-weight: bolder;
}

.submit-button {
    width: 100%;
}

.date-picker {
    -moz-appearance: none;
    background: url("icons/calendar-solid.svg")
      94% no-repeat;
    background-size: auto 20px;
    line-height: 1; 
    background-color: whitesmoke;
    padding-left: 2%;
    padding-right: 2%;
    width: 90%;
    font-size: smaller;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
}

label {
    font-weight: 600;
    font-size: 0.9rem;
    display: block;
    margin: 0.5rem 0;
}

.font-lighter {
    font-weight: lighter;
    color: gray;
}

/* BOOKING FORM GRID */
.bookingform-grid-container {
    display: grid;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    column-gap: 10px;
    row-gap: 15px; 
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "hotelbooking hotelbooking hotelbooking hotelbooking"
    "name name name name"
    "surname surname surname surname"
    "email email email email"
    "check-in check-in check-out check-out"
    "submit submit submit submit";
}

.bookingform-grid-container div {
    text-align: center;
}

.item-a {
    grid-area: hotelbooking;
}

.item-b {
    grid-area: name;
}

.item-c {
    grid-area: surname;
}

.item-d {
    grid-area: email;
}

.item-e {
    grid-area: check-in;
    justify-self: end;
}

.item-f {
    grid-area: check-out;
    justify-self: start;
}

.item-g {
    grid-area: submit;
    padding-top: 30px;
    margin: 0 auto;
}

/* BUTTON */
.button {
    display: block;
    font-size: 1rem;
    background: #FF7F11;
    border: 1px solid #FF7F11;
    padding: 0.75rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
}

.button:hover,
.button:focus {
    filter: brightness(80%);
}

/* HOTEL INFO CARDS */
.card-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px; 
    padding-bottom: 0%;
}

.card {
    flex: 1 1 50%;
    position: relative;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #93C7D9;
    margin: 15px;
    background-color: white;
}
  
.card-content {
    padding: 0 0 30px;
}
  
.card-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
  
.card-details-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    padding: 30px 30px 110px;
}
  
.card-details-inner {
    border-top: 1px solid #efefef;
    margin: 0 30px;
    padding: 30px 0;
}

.card h1 {
    margin: 0;
    color: #444444;
}
  
.card p {
    margin: 0 0 30px;
    color: #666666;
}

.card:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}
  
.subtitle {
    margin: 0 0 15px;
    color: #FF7F11;
    font-weight: 700;
    font-size: 1.25rem;
}

.card-image {
    height: 280px;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* BOOKING PAGE */
.booking-message {
    padding: 10%;
    padding-top: 10%;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    background-color: white;
    color: #666666;
}

.booking-msg-img {
    max-width: 100%;
    margin: 0 auto;
    padding: 10%;
    vertical-align: middle;
}

.price-button {
    margin: 0 auto; 
}

/* HOLIDAY GALLERY GRID (BOOKING PAGE & MODAL) */
.gallery-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    padding-top: 50px;
}

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
}

.cell {
    margin: 1rem;
}

/* COMPARE PAGE */
.compare-message {
    text-align: center;
    padding: 50px;
    margin: 50px;
    color: #666666;
    background-color: white;
}

/* MODAL */
.modal-overlay-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(194, 187, 196, 0.9);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
}

.modal-overlay-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(194, 187, 196, 0.9);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
}

.modal-container {
    padding: 30px;
    margin: 30px;
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.close-btn-1 {
    position: fixed;
    text-align: end;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    float: right;
    padding: 30px;
    left: 90%;
}

.close-btn-2 {
    position: fixed;
    text-align: end;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    float: right;
    padding: 30px;
    left: 90%;
}

/* EMAIL PAGE */
.email-confirmation {
    background-color: white;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10%;
}

@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .cell {
      width: calc(50% - 2rem);
    }

    .cell-booking-msg {
       width: 50%;
       align-items: center;
       vertical-align: middle;
    } 

    .booking-form-container {
        padding: 5%; 
    }

    .booking-form {
        width: 69%;
    }

    .booking-form-grid-container {
        padding-left: 20%;
        padding-right: 20%; 
    }

    select {
        width: 45%;
    }

    .title-container {
        left: 60%;
        top: 330px;
    }

    .title {
        margin: 0; 
        font-weight: bolder;
        font-size: xx-large;
    }

    .tagline {
          margin: 0;
          padding-bottom: 4%;
          text-align: center;
          margin: 0 0 15px;
          font-weight: 700;
          font-size: 1.25rem;
    }

    .booking-message {
        width: 75%;
        padding-bottom: 10%;
    }   
}

@media screen and (min-width: 800px) {
    .flex-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; 
    } 
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(33.3333% - 2rem);
    }

    .compare-message {
        margin-left: 198px;
        margin-right: 198px;
    }

    .title-container {
        left: 60%;
        top: 330px;
    }

    .call-to-action {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .button {
        width: min-content;
        font-size: small;
    }

    .reviews {
        font-size: small;
    }

    .date-picker {
        width: 75%;
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .hotel-options {
        width: 65%;
        font-size: smaller;
    }

    #background {
        background-image: url("images/booking-app-cover-phone.jpg");
    }

    .title-container {
        left: 30%;
        top: 33%;
        font-size: smaller;
    } 
}